Repository A2SV/Terra, pull requests merged in 2024-12, with the labels that each got.

#220 Ggpp 270 explore section fix
  web/components/Authentication/OtpVerification.tsx
  web/components/General/ExploreProperty.tsx
  web/components/General/FAQ.tsx
  web/components/General/HeroSection.tsx
Labels: @team/web

#222 backend(feat): Implement property market status update feature
  backend/Application/Contracts/IListingRepository.cs
  backend/Application/Features/Listings/Commands/UpdatePropertyMarketStatus/UpdatePropertyMarketStatusCommand.cs
  backend/Application/Features/Listings/Commands/UpdatePropertyMarketStatus/UpdatePropertyMarketStatusCommandHandler.cs
  backend/Persistence/Repositories/ListingRepository.cs
  backend/WebApi/Controllers/ListingController.cs
Labels: @team/backend

#224 Ggpp 263 implement rent and unrent listing endpoint
  backend/WebApi/Controllers/ListingController.cs
Labels: @team/backend

#223 feat, navbar hotfix, home log routing and size
  web/components/General/Hamburger.tsx
  web/components/General/Navbar.tsx
  web/components/General/Profile.tsx
Labels: @team/web

#227 (fix): Addlisting Responsiveness
  web/components/AddListing/Features/CommercialSubtype/CommercialSpecific.tsx
  web/components/AddListing/Features/CommercialSubtype/EventSpaceFeatures.tsx
  web/components/AddListing/Features/CommercialSubtype/OfficeSpaceFeatures.tsx
  web/components/AddListing/Features/CommercialSubtype/ShopFeatures.tsx
  web/components/AddListing/Features/CommercialSubtype/WareHouseFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/ApartmentFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/GuestHouseFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/HotelFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/HouseFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/ResidentialSpecific.tsx
  web/components/AddListing/Features/ResidentialSubtype/StudentHostelFeatures.tsx
  web/components/AddListing/GeneralInfo.tsx
  web/package-lock.json
Labels: @team/web

#228 Add Listing Page
  mobile/assets/images/Border_down.png
  mobile/assets/images/Border_up.png
  mobile/assets/svg/Border_down.svg
  mobile/assets/svg/Border_up.svg
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/core/routes/routes_config.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_hotel.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_location.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_photos.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_res_hotel.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/pages/widgets/custom_card.dart
  mobile/pubspec.lock
Labels: @team/mobile

#231 feat:Fix the login and register functionality
  mobile/ios/Podfile.lock
  mobile/lib/src/core/constants/constants.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/dp_injection/dp_injection.dart
  mobile/lib/src/core/routes/routes_config.dart
  mobile/lib/src/features/auth/data/data_sources/auth_remote_data_source.dart
  mobile/lib/src/features/auth/data/repositories/auth_repository_impl.dart
  mobile/lib/src/features/auth/domain/use_cases/login_use_case.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_event.dart
  mobile/lib/src/features/auth/presentation/bloc/login/login_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/login/login_event.dart
  mobile/lib/src/features/auth/presentation/bloc/login/login_state.dart
  mobile/lib/src/features/auth/presentation/pages/register_page.dart
  mobile/lib/src/features/auth/presentation/pages/sign_in_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_event_space.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_guest_house.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_hostel.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_hotel.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_house.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_office.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_res_hotel.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_shop.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_warehouse.dart
  mobile/lib/src/features/dashboard/presentation/widgets/add_listing_search_input.dart
  mobile/pubspec.lock
  mobile/test/src/features/auth/presentation/bloc/bloc/authentication_bloc_test.dart
Labels: @team/mobile

#232 feat(mobile): implement bottom navigation bar for listings page
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/features/dashboard/presentation/pages/chat_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/pages/prof_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/saved_pages.dart
  mobile/pubspec.lock
Labels: @team/mobile

#234 feat:Implement verify email functionality and add success toast messa…
  mobile/lib/src/core/constants/constants.dart
  mobile/lib/src/core/dp_injection/dp_injection.dart
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/features/auth/data/data_sources/auth_remote_data_source.dart
  mobile/lib/src/features/auth/data/repositories/auth_repository_impl.dart
  mobile/lib/src/features/auth/domain/repositories/auth_repository.dart
  mobile/lib/src/features/auth/domain/use_cases/verify_otp.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_event.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_state.dart
  mobile/lib/src/features/auth/presentation/pages/forgot_password.dart
  mobile/lib/src/features/auth/presentation/pages/otp_page.dart
  mobile/lib/src/features/auth/presentation/pages/register_page.dart
  mobile/lib/src/features/auth/presentation/pages/sign_in_page.dart
  mobile/pubspec.lock
  mobile/test/src/features/auth/presentation/bloc/bloc/authentication_bloc_test.dart
Labels: @team/mobile

#233 backend(feat): add working email sender
  backend/Application/Application.csproj
  backend/Infrastructure/EmailService/EmailService.cs
  backend/Infrastructure/Infrastructure.csproj
Labels: @team/backend

#188 fix(backend): streamline cors and add delete file
  backend/Application/Contracts/IStorageService.cs
  backend/Infrastructure/StorageService/StorageService.cs
  backend/WebApi/Controllers/FileController.cs
  backend/WebApi/Program.cs
Labels: @team/backend

#221 changed design of listing card and dashboard
  mobile/assets/images/verify.png
  mobile/assets/svg/repost.svg
  mobile/lib/src/features/dashboard/data/models/lister.dart
  mobile/lib/src/features/dashboard/data/models/listing.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/pages/tester.dart
  mobile/lib/src/features/dashboard/presentation/widgets/homepage_card.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
  mobile/pubspec.lock
Labels: @team/mobile

#236 feat(mobile): linked pages for adding listing
  mobile/ios/Podfile.lock
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_location.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_photos.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
Labels: @team/mobile

#238 Ggpp 286 change the design of the top card in the dashboard
  mobile/ios/Podfile.lock
  mobile/lib/src/core/theme/common_color.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/widgets/homepage_card.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
  mobile/pubspec.lock
Labels: @team/mobile

#229 fix(web):Auth hotfixes
  web/components/Authentication/LoginCard.tsx
  web/components/Authentication/SignupCard.tsx
  web/components/Common/Auth/AuthButton.tsx
  web/components/Common/Auth/Checkbox.tsx
  web/public/eye-off.svg
  web/public/eye-on.svg
  web/test/unit/LoginCard.test.tsx
Labels: @team/web

#239 feat(backend) : Fix backend
  backend/Application/Features/Accounts/RegisterUser/RegisterUserCommandHandler.cs
  backend/Application/Features/Accounts/ResendOTP/ResendOTPCommandHandler.cs
Labels: @team/backend

#240 feat(mobile): implement caching for logged in users
  mobile/lib/main.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/dp_injection/dp_injection.dart
  mobile/lib/src/core/entities/user_account.dart
  mobile/lib/src/core/error/exception.dart
  mobile/lib/src/core/error/failure.dart
  mobile/lib/src/core/routes/routes_config.dart
  mobile/lib/src/features/auth/data/data_sources/auth_local_data_source.dart
  mobile/lib/src/features/auth/data/data_sources/auth_remote_data_source.dart
  mobile/lib/src/features/auth/data/models/user_model.dart
  mobile/lib/src/features/auth/data/repositories/auth_repository_impl.dart
  mobile/lib/src/features/auth/domain/repositories/auth_repository.dart
  mobile/lib/src/features/auth/domain/use_cases/get_cached_user_usecase.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_event.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_state.dart
  mobile/lib/src/features/auth/presentation/cubit/app_user_cubit.dart
  mobile/lib/src/features/auth/presentation/cubit/app_user_state.dart
  mobile/pubspec.lock
Labels: @team/mobile

#235 Ggpp 280 consistency white spaces fixes
  web/components/General/Accordion.tsx
  web/components/General/CreateListing.tsx
  web/components/General/ExploreProperty.tsx
  web/components/General/FAQ.tsx
  web/components/General/Footer.tsx
  web/components/General/HeroSection.tsx
  web/components/General/HomePage.tsx
  web/components/General/Navbar.tsx
  web/components/General/ProcedureSection.tsx
  web/components/General/Select.tsx
  web/components/Listing/Cards/ListingCard.tsx
Labels: @team/web

#241 backend(fix): make lister queyable in property listing
  backend/Persistence/Configurations/PropertyDbContext.cs
  backend/Persistence/Migrations/PropertyDbContextModelSnapshot.cs
  backend/Persistence/Repositories/ListingRepository.cs
Labels: @team/backend

#243 Ggpp 266 auth hot fixes
  web/components/Authentication/OtpVerification.tsx
  web/components/Authentication/SignupCard.tsx
Labels: @team/web

#242 made single listing page mobile and ipad responsive
  web/app/single/page.tsx
  web/components/Listing/Cards/ContactCard.tsx
  web/components/Listing/HeroListing.tsx
  web/components/Listing/ListDesc.tsx
  web/components/Listing/Review.tsx
  web/components/Sliders/ImageCarousel2/EmblaCarousel.tsx
  web/next.config.mjs
Labels: @team/web

#244 Ggpp 261 implement update listing endpoint
  backend/Application/Contracts/IAmenityRepository.cs
  backend/Application/Contracts/IListingRepository.cs
  backend/Application/Features/Listings/Commands/UpdateListing/UpdateListingCommand.cs
  backend/Application/Features/Listings/Commands/UpdateListing/UpdateListingCommandHandler.cs
  backend/Persistence/Repositories/AmenityRepository.cs
  backend/Persistence/Repositories/ListingRepository.cs
  backend/WebApi/Controllers/ListingController.cs
Labels: @team/backend

#245 Ggpp 283 fix the errors in the fetch listings and listing details page
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/core/utils/custom_extensions.dart
  mobile/lib/src/features/dashboard/data/data_sources/dashboard_remote_data_source.dart
  mobile/lib/src/features/dashboard/data/models/lister.dart
  mobile/lib/src/features/dashboard/data/models/listing.dart
  mobile/lib/src/features/dashboard/data/models/media.dart
  mobile/lib/src/features/dashboard/data/models/payment_information.dart
  mobile/lib/src/features/dashboard/data/models/property_location.dart
  mobile/lib/src/features/dashboard/domain/entities/entities.dart
  mobile/lib/src/features/dashboard/domain/entities/enums.dart
  mobile/lib/src/features/dashboard/domain/entities/lister.dart
  mobile/lib/src/features/dashboard/domain/entities/listing.dart
  mobile/lib/src/features/dashboard/domain/entities/media.dart
  mobile/lib/src/features/dashboard/domain/entities/payment_information.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_apartment.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_event_space.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_guest_house.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_hostel.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_hotel.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_house.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_office.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_res_hotel.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_shop.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_warehouse.dart
  mobile/lib/src/features/dashboard/presentation/pages/list_detail.dart
  mobile/lib/src/features/dashboard/presentation/pages/widgets/add_listing_bottom_sheet_modal.dart
  mobile/lib/src/features/dashboard/presentation/pages/widgets/add_listing_check_box.dart
  mobile/lib/src/features/dashboard/presentation/pages/widgets/add_listing_text_form_field.dart
  mobile/lib/src/features/dashboard/presentation/pages/widgets/custom_card.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
  mobile/pubspec.lock
  mobile/test/src/features/auth/data/data_sources/auth_remote_data_source_test.dart
Labels: @team/mobile

#246 Fix: Fix get listing detail issue
  mobile/ios/Podfile.lock
  mobile/lib/main.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
Labels: @team/mobile

#248 Feat(mobile): Dashboard feature to allow user to select and compare l…
  mobile/lib/main.dart
  mobile/lib/src/core/dp_injection/dp_injection.dart
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/core/routes/routes_config.dart
  mobile/lib/src/features/dashboard/domain/use_cases/get_listing_use_case.dart
  mobile/lib/src/features/dashboard/domain/use_cases/use_cases.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_bloc.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_event.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_state.dart
  mobile/lib/src/features/dashboard/presentation/pages/compare_listing.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
  mobile/pubspec.lock
  mobile/test/src/features/auth/data/repositories/auth_repository_impl_test.dart
  mobile/test/src/features/auth/presentation/bloc/bloc/authentication_bloc_test.dart
Labels: @team/mobile

#249 feat: fix the user caching login issue and create a global app user c…
  mobile/lib/main.dart
  mobile/lib/src/core/cubit/app_user/app_user_cubit.dart
  mobile/lib/src/core/cubit/app_user/app_user_state.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/dp_injection/dp_injection.dart
  mobile/lib/src/core/entities/user_cache.dart
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/core/routes/routes_config.dart
  mobile/lib/src/core/success/success.dart
  mobile/lib/src/features/auth/data/models/user_data_source_model.dart
  mobile/lib/src/features/auth/domain/domain.dart
  mobile/lib/src/features/auth/domain/entities/entities.dart
  mobile/lib/src/features/auth/domain/entities/login_return_entity.dart
  mobile/lib/src/features/auth/domain/entities/user_entity.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_state.dart
  mobile/lib/src/features/auth/presentation/cubit/app_user_cubit.dart
  mobile/lib/src/features/auth/presentation/cubit/app_user_state.dart
  mobile/lib/src/features/auth/presentation/pages/sign_in_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/widgets/homepage_card.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
  mobile/pubspec.lock
Labels: @team/mobile

#251 implemented location services
  mobile/assets/images/location.png
  mobile/ios/Podfile.lock
  mobile/ios/Runner/Info.plist
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/dp_injection/dp_injection.dart
  mobile/lib/src/features/dashboard/data/data_sources/data_sources.dart
  mobile/lib/src/features/dashboard/data/data_sources/location_data_source.dart
  mobile/lib/src/features/dashboard/data/repositories/location_repo.dart
  mobile/lib/src/features/dashboard/data/repositories/repositories.dart
  mobile/lib/src/features/dashboard/domain/entities/entities.dart
  mobile/lib/src/features/dashboard/domain/use_cases/check_location_permission_use_case.dart
  mobile/lib/src/features/dashboard/domain/use_cases/request_location_permission_use_case.dart
  mobile/lib/src/features/dashboard/domain/use_cases/use_cases.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_bloc.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_event.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_state.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/widgets/homepage_card.dart
  mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/windows/flutter/generated_plugin_registrant.cc
  mobile/windows/flutter/generated_plugins.cmake
Labels: @team/mobile

#247 ​About Us page Fixes
  web/components/AboutUs/AboutHero.tsx
  web/components/AboutUs/MissionSection.tsx
  web/components/AboutUs/TeamCard.tsx
  web/components/Authentication/OtpVerification.tsx
  web/components/Listing/HeroListing.tsx
  web/components/Listing/ListDesc.tsx
  web/package-lock.json
  web/package.json
  web/public/Ellipse1.svg
  web/public/Ellipse2.svg
  web/public/Star.svg
  web/public/Star2.svg
  web/public/Star3.svg
  web/public/Star4.svg
  web/public/ellipse.svg
  web/public/linkedin.svg
  web/public/team1.jpeg
  web/public/team2.jpeg
  web/public/team3.jpeg
  web/public/team4.jpeg
  web/public/team5.jpeg
  web/public/team6.jpeg
  web/public/team7.jpeg
  web/public/team8.jpeg
  web/tailwind.config.ts
  web/test/ListDesc.test.tsx
  web/test/unit/MissionSection.test.tsx
Labels: @team/web

#254 backend(fix): reset password flow
  backend/Application/Contracts/ITokenRepository.cs
  backend/Application/Features/Accounts/Dtos/ResetPasswordDto.cs
  backend/Application/Features/Accounts/ForgotPassword/Command/ForgotPasswordHandler.cs
  backend/Application/Features/Accounts/ResetPassword/ResetPasswordCommand.cs
  backend/Application/Features/Accounts/ResetPassword/ResetPasswordHandler.cs
  backend/Persistence/Repositories/TokenRepository.cs
  backend/WebApi/Controllers/AuthController.cs
Labels: @team/backend

#252 designed 404 page
  web/app/not-found.tsx
  web/public/404bg.svg
Labels: @team/web

#255 fix(web):jwt to cookies
  web/components/Common/Auth/Checkbox.tsx
Labels: @team/web

#257 Ggpp 295 update the detail page implementation
  mobile/lib/src/core/constants/constants.dart
  mobile/lib/src/core/dp_injection/dp_injection.dart
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/core/routes/routes_config.dart
  mobile/lib/src/features/dashboard/data/data_sources/dashboard_remote_data_source.dart
  mobile/lib/src/features/dashboard/data/models/amenity.dart
  mobile/lib/src/features/dashboard/data/models/apartment.dart
  mobile/lib/src/features/dashboard/data/models/commercial_property.dart
  mobile/lib/src/features/dashboard/data/models/event_space.dart
  mobile/lib/src/features/dashboard/data/models/guest_house.dart
  mobile/lib/src/features/dashboard/data/models/hotel.dart
  mobile/lib/src/features/dashboard/data/models/house.dart
  mobile/lib/src/features/dashboard/data/models/listing.dart
  mobile/lib/src/features/dashboard/data/models/listing_detail.dart
  mobile/lib/src/features/dashboard/data/models/models.dart
  mobile/lib/src/features/dashboard/data/models/office_space.dart
  mobile/lib/src/features/dashboard/data/models/residential_property.dart
  mobile/lib/src/features/dashboard/data/models/shop.dart
  mobile/lib/src/features/dashboard/data/models/student_hostel.dart
  mobile/lib/src/features/dashboard/data/models/warehouse.dart
  mobile/lib/src/features/dashboard/data/repositories/dashboard_repository_impl.dart
  mobile/lib/src/features/dashboard/domain/entities/amenity.dart
  mobile/lib/src/features/dashboard/domain/entities/apartment.dart
  mobile/lib/src/features/dashboard/domain/entities/commercial_property.dart
  mobile/lib/src/features/dashboard/domain/entities/entities.dart
  mobile/lib/src/features/dashboard/domain/entities/event_space.dart
  mobile/lib/src/features/dashboard/domain/entities/guest_house.dart
  mobile/lib/src/features/dashboard/domain/entities/hotel.dart
  mobile/lib/src/features/dashboard/domain/entities/house.dart
  mobile/lib/src/features/dashboard/domain/entities/listing_detail.dart
  mobile/lib/src/features/dashboard/domain/entities/media.dart
  mobile/lib/src/features/dashboard/domain/entities/office_space.dart
  mobile/lib/src/features/dashboard/domain/entities/residential_property.dart
  mobile/lib/src/features/dashboard/domain/entities/shop.dart
  mobile/lib/src/features/dashboard/domain/entities/sutdent_hostel.dart
  mobile/lib/src/features/dashboard/domain/entities/warehouse.dart
  mobile/lib/src/features/dashboard/domain/repositories/dashboard_repository.dart
  mobile/lib/src/features/dashboard/domain/use_cases/get_listing_by_id_use_case.dart
  mobile/lib/src/features/dashboard/domain/use_cases/use_cases.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_bloc.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_event.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_state.dart
  mobile/lib/src/features/dashboard/presentation/pages/compare_listing.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/pages/list_detail.dart
Labels: @team/mobile

#256 feat(web) Get Listing by ID Functionality
  web/app/single/[id]/page.tsx
  web/components/Common/Reusable/MoneyFormatter.tsx
  web/components/Common/Reusable/UpdatedDate.tsx
  web/components/General/HomePage.tsx
  web/components/General/Navbar.tsx
  web/components/Listing/Cards/ListingCard.tsx
  web/components/Listing/HeroListing.tsx
  web/components/Listing/ListDesc.tsx
  web/redux/getAllListingApi.ts
  web/redux/listingApi.ts
  web/redux/store.ts
  web/types/listingTypes.ts
Labels: @team/web

#258 Fix: Fix state issues in the dashboard bloc
  mobile/ios/Podfile.lock
  mobile/lib/main.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/dp_injection/dp_injection.dart
  mobile/lib/src/features/auth/presentation/pages/register_page.dart
  mobile/lib/src/features/auth/presentation/pages/sign_in_page.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_state.dart
  mobile/lib/src/features/dashboard/presentation/bloc/listing_details/listimg_details_event.dart
  mobile/lib/src/features/dashboard/presentation/bloc/listing_details/listing_details_bloc.dart
  mobile/lib/src/features/dashboard/presentation/bloc/listing_details/listing_details_state.dart
  mobile/lib/src/features/dashboard/presentation/bloc/listings/dashboard_bloc.dart
  mobile/lib/src/features/dashboard/presentation/bloc/listings/dashboard_event.dart
  mobile/lib/src/features/dashboard/presentation/bloc/listings/dashboard_state.dart
  mobile/lib/src/features/dashboard/presentation/bloc/location/location_bloc.dart
  mobile/lib/src/features/dashboard/presentation/bloc/location/location_event.dart
  mobile/lib/src/features/dashboard/presentation/bloc/location/location_state.dart
  mobile/lib/src/features/dashboard/presentation/pages/compare_listing.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/pages/list_detail.dart
  mobile/lib/src/features/dashboard/presentation/widgets/homepage_card.dart
Labels: @team/mobile

#259 feat(mobile): Implement function to format listing price
  mobile/lib/src/core/utils/currency_formatter.dart
  mobile/lib/src/features/dashboard/domain/entities/enums.dart
  mobile/lib/src/features/dashboard/presentation/pages/list_detail.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
  mobile/pubspec.lock
Labels: @team/mobile

#261 Ggpp 299 create a shimmer loading effect for the fetch all listings and the get listing details page
  mobile/ios/Podfile.lock
  mobile/lib/main.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/pages/list_detail.dart
  mobile/lib/src/features/dashboard/presentation/widgets/facility_chip_shimmer.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listing_card_shimmer.dart
Labels: @team/mobile

#260 Minor hotfixes
  web/app/not-found.tsx
  web/components/AddListing/SubmitButton.tsx
  web/components/General/HeroSection.tsx
  web/components/Listing/Cards/ContactCard.tsx
  web/components/Listing/Cards/ListingCard.tsx
  web/components/Listing/HeroListing.tsx
  web/components/Listing/ListDesc.tsx
  web/test/ListDesc.test.tsx
Labels: @team/web

#262 Ggpp 287 reset password fixes
  web/app/reset-password/[token]/[email]/page.tsx
  web/app/reset-password/page.tsx
  web/app/reset/[email]/page.tsx
  web/components/AddListing/GoogleMapComponent.tsx
  web/components/Authentication/LoginCard.tsx
  web/components/Authentication/ResetInputEmail.tsx
  web/components/Authentication/ResetNew.tsx
  web/components/ContactUs/ContactForm.tsx
  web/components/ContactUs/ContactUsDetails.tsx
Labels: @team/web

#264 added render.yaml, fixed linting issues
  web/components/Authentication/ResetInputEmail.tsx
  web/components/ContactUs/ContactUsDetails.tsx
  web/render.yaml
Labels: @team/web

#265 Ggpp 300 create the custom loader and fix the compare listing button
  mobile/assets/images/loader.png
  mobile/ios/Podfile.lock
  mobile/lib/main.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/dp_injection/dp_injection.dart
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/core/widgets/custom_loader.dart
  mobile/lib/src/features/auth/presentation/pages/forgot_password.dart
  mobile/lib/src/features/auth/presentation/pages/forgot_password_send_mail.dart
  mobile/lib/src/features/auth/presentation/pages/otp_page.dart
  mobile/lib/src/features/auth/presentation/pages/register_page.dart
  mobile/lib/src/features/auth/presentation/pages/sign_in_page.dart
  mobile/lib/src/features/dashboard/presentation/bloc/conpare_listings_bloc/conpare_listings_bloc.dart
  mobile/lib/src/features/dashboard/presentation/bloc/conpare_listings_bloc/conpare_listings_event.dart
  mobile/lib/src/features/dashboard/presentation/bloc/conpare_listings_bloc/conpare_listings_state.dart
  mobile/lib/src/features/dashboard/presentation/bloc/listings/dashboard_bloc.dart
  mobile/lib/src/features/dashboard/presentation/bloc/listings/dashboard_event.dart
  mobile/lib/src/features/dashboard/presentation/bloc/listings/dashboard_state.dart
  mobile/lib/src/features/dashboard/presentation/pages/compare_listing.dart
  mobile/lib/src/features/dashboard/presentation/pages/compare_listing_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
  mobile/pubspec.lock
Labels: @team/mobile
