Repository A2SV/Terra, pull requests merged in 2024-07, with the labels that each got.

#59 feat(mobile): Design the layout of the student identification page
  mobile/lib/main.dart
  mobile/lib/src/features/auth/presentation/pages/identify_student.dart
  mobile/lib/src/features/auth/presentation/widgets/profile_widgets/student_identity_card.dart
  mobile/lib/src/features/auth/presentation/widgets/student_identity_card.dart
  mobile/pubspec.lock
Labels: @team/mobile

#60 feat(web):Design the navbar
  package-lock.json
  package.json
  web/app/head/page.tsx
  web/components/General/Hamburger.tsx
  web/components/General/Navbar.tsx
  web/public/header_image.jpg
Labels: repo, @team/web

#61 mobile(feat) designed card for homepage topbar
  mobile/assets/images/notification_icon.png
  mobile/assets/images/profile_pic.png
  mobile/assets/images/search_icon.png
  mobile/assets/svg/profile_photo.svg
  mobile/assets/svg/search_normal.svg
  mobile/lib/main.dart
  mobile/lib/src/core/theme/common_color.dart
  mobile/lib/src/core/theme/text_theme.dart
  mobile/lib/src/core/widgets/homepage_card.dart
  mobile/pubspec.yaml
Labels: @team/mobile

#63 Ggpp 123 validate user account
  backend/Application/Features/Users/RegisterUser/RegisterUserCommandHandler.cs
  backend/Infrastructure/EmailService/EmailService.cs
  backend/WebApi/Controllers/AuthController.cs
  backend/WebApi/Program.cs
Labels: @team/backend

#66 feat(mobile): Add reusable components of the dashboard
  mobile/lib/main.dart
  mobile/lib/src/core/theme/app_light_theme_colors.dart
  mobile/lib/src/features/auth/authentication.dart
  mobile/lib/src/features/auth/presentation/otp.dart
  mobile/lib/src/features/dashboard/presentation/widgets/filter_button.dart
  mobile/lib/src/features/dashboard/presentation/widgets/homepage_card.dart
  mobile/lib/src/features/dashboard/presentation/widgets/search_input.dart
  mobile/lib/src/onboarding/presentation/pages/onboarding_screen.dart
  mobile/lib/src/onboarding/presentation/widgets/page_indicator.dart
Labels: @team/mobile

#68 feat(mobile): Create listings card
  mobile/assets/svg/Bookmark.svg
  mobile/assets/svg/Group.svg
  mobile/assets/svg/bed.svg
  mobile/assets/svg/columns.svg
  mobile/assets/svg/copy.svg
  mobile/assets/svg/eye.svg
  mobile/assets/svg/premium_banner.svg
  mobile/lib/main.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: @team/mobile

#70 Ggpp 182 find user by
  backend/Application/Features/Accounts/LoginUser/Command/LoginUserCommandHandler.cs
  backend/Application/Features/Users/Dtos/UserDto.cs
Labels: @team/backend

#67 Update Single List Card
  web/components/Authentication/Auth.tsx
  web/components/Authentication/LoginBackground.tsx
  web/components/Authentication/ResetNew.tsx
  web/components/Authentication/SignUpBackground.tsx
  web/components/Common/Auth/LoginCard.tsx
  web/components/Common/Auth/SignupCard.tsx
  web/components/Listing/Cards/ListingCard.tsx
  web/components/common/Auth/AuthButtons.tsx
  web/public/ListingProfile.svg
  web/public/bed_icon.svg
  web/public/construction_icon.svg
  web/public/shower_icon.svg
  web/test/LoginCard.test.tsx
  web/test/SignupCard.test.tsx
  web/test/unit/ListingCard.test.tsx
Labels: @team/web

#72 mobile(feat) designed and implemented user reviews page
  mobile/assets/images/kay_profile.png
  mobile/assets/images/kurt_profile.png
  mobile/assets/images/property.png
  mobile/assets/images/sam_profile.png
  mobile/assets/images/star.png
  mobile/lib/main.dart
  mobile/lib/src/core/theme/common_color.dart
  mobile/lib/src/features/auth/presentation/pages/user_reviews.dart
  mobile/lib/src/features/auth/presentation/widgets/filter_button.dart
  mobile/lib/src/features/auth/presentation/widgets/user_review_card.dart
Labels: @team/mobile

#73 compare listing page
  mobile/assets/images/Rectangle 86.png
  mobile/assets/images/Rectangle 89.png
  mobile/lib/main.dart
  mobile/lib/src/core/widgets/custom_button.dart
  mobile/lib/src/core/widgets/homepage_card.dart
  mobile/lib/src/features/auth/authentication.dart
  mobile/lib/src/features/dashboard/presentation/pages/compare_listing.dart
  mobile/lib/src/features/dashboard/presentation/pages/compare_listing_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/widgets/search_input.dart
Labels: @team/mobile

#71 Ggpp 165 implement forgot password functionality
  .vscode/settings.json
  backend/Application.Tests/Features/Users/RegisterUser/ForgotPasswordCommandHandlerTest.cs
  backend/Application/Features/Accounts/ForgotPassword/Command/ForgotPasswordCommand.cs
  backend/Application/Features/Accounts/ForgotPassword/Command/ForgotPasswordHandler.cs
Labels: @team/backend

#74 Ggpp 123 validate user account
  backend/Application/Features/Accounts/RegisterUser/RegisterUserCommandHandler.cs
  backend/WebApi/Program.cs
Labels: @team/backend

#75 Ggpp 144 deployment
  .gitignore
  backend/Dockerfile.prod
  backend/Persistence/Configurations/AppAuthDbContextFactory.cs
  backend/Persistence/Migrations/20240704175711_first migration.Designer.cs
  backend/Persistence/Migrations/20240704175711_first migration.cs
  backend/Persistence/Migrations/AppAuthDbContextModelSnapshot.cs
  backend/Persistence/Persistence.csproj
  backend/WebApi/Program.cs
  backend/WebApi/WebApi.csproj
  backend/WebApi/appsettings.json
  backend/entrypoint.sh
  backend/global.json
Labels: @team/backend

#77 Design FAQ Section
  web/app/page.tsx
  web/components/Common/Auth/SignupCard.tsx
  web/components/General/Accordion.tsx
  web/components/General/FAQ.tsx
  web/package-lock.json
  web/public/faq.svg
  web/public/faq_woman.svg
  web/test/FAQ.test.tsx
Labels: @team/web

#79 Ggpp 184 design and implement the main homepage screen
  mobile/assets/svg/chat.svg
  mobile/assets/svg/home.svg
  mobile/assets/svg/profile.svg
  mobile/assets/svg/saved.svg
  mobile/lib/main.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/widgets/filter_button.dart
  mobile/lib/src/features/dashboard/presentation/widgets/homepage_card.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
Labels: @team/mobile

#84 GGPP-185 Set Up Entities For Property Listing
  backend/Domain/Common/BaseEntity.cs
  backend/Domain/Entities/Amenity.cs
  backend/Domain/Entities/Apartment.cs
  backend/Domain/Entities/CommercialProperty.cs
  backend/Domain/Entities/ContactInformation.cs
  backend/Domain/Entities/DomesticProperty.cs
  backend/Domain/Entities/EventSpace.cs
  backend/Domain/Entities/GuestHouse.cs
  backend/Domain/Entities/Hotel.cs
  backend/Domain/Entities/House.cs
  backend/Domain/Entities/OfficeSpace.cs
  backend/Domain/Entities/PaymentInformation.cs
  backend/Domain/Entities/Property.cs
  backend/Domain/Entities/PropertyAmenity.cs
  backend/Domain/Entities/PropertyLocation.cs
  backend/Domain/Entities/PropertyPhoto.cs
  backend/Domain/Entities/PropertyVideo.cs
  backend/Domain/Entities/Shop.cs
  backend/Domain/Entities/StudentHostel.cs
  backend/Domain/Entities/Warehouse.cs
  backend/Domain/Enums/EventSpaceSuitableEvents.cs
  backend/Domain/Enums/OfficeSpaceType.cs
  backend/Domain/Enums/PaymentCurrency.cs
  backend/Domain/Enums/PaymentFrequency.cs
  backend/Domain/Enums/PropertyListingType.cs
  backend/Domain/Enums/PropertyMarketStatus.cs
  backend/Domain/Enums/PropertyPublishStatus.cs
  backend/Domain/Enums/PropertyType.cs
  backend/Domain/Enums/StudentHostelLocation.cs
  backend/Domain/Enums/StudentHostelRoomTypes.cs
  backend/Domain/Enums/StudentHostelType.cs
  backend/Domain/Enums/WarehouseSuitableGoods.cs
  backend/WebApi/Controllers/WeatherForecastController.cs
  backend/WebApi/WeatherForecast.cs
Labels: @team/backend

#81 Ggpp 144 deployment
  backend/Persistence/Repositories/TokenRepository.cs
  backend/WebApi/Program.cs
Labels: @team/backend

#82 fix-reset-url
  backend/Application/Features/Accounts/ForgotPassword/Command/ForgotPasswordHandler.cs
Labels: @team/backend

#85 Ggpp 189 fix reset url
  .vscode/launch.json
  .vscode/tasks.json
  backend/Application/Features/Accounts/ForgotPassword/Command/ForgotPasswordCheck.cs
  backend/Application/Features/Accounts/ForgotPassword/Command/ForgotPasswordHandler.cs
  backend/Infrastructure/EmailService/EmailService.cs
  backend/Infrastructure/Infrastructure.csproj
  backend/WebApi/Controllers/AuthController.cs
  backend/WebApi/Program.cs
Labels: @team/backend

#89 Ggpp 185 set up entities for property listing
  backend/Domain/Entities/Apartment.cs
  backend/Domain/Entities/House.cs
  backend/Domain/Enums/WarehouseSuitableGoods.cs
Labels: @team/backend

#95 Ggpp 191 create db context for property listings
  backend/Application/Features/Accounts/ForgotPassword/Command/ForgotPasswordHandler.cs
  backend/Domain/Enums/PaymentCurrency.cs
  backend/Domain/Enums/WarehouseSuitableGoods.cs
  backend/Persistence/Configurations/PropertyDbContext.cs
  backend/Persistence/Configurations/PropertyDbContextFactory.cs
  backend/WebApi/Program.cs
  backend/WebApi/libman.json
Labels: @team/backend

#99 Ggpp 164 implement reset password functionality
  web/app/reset-new/page.tsx
  web/app/reset-password/[token]/[email]/page.tsx
  web/components/Authentication/ResetInputEmail.tsx
  web/components/Authentication/ResetNew.tsx
  web/components/Common/Reusable/SuccessMessage.tsx
  web/components/common/Auth/AuthButtons.tsx
  web/test/unit/SignupCard.test.tsx
Labels: @team/web

#103 (feat): Create Initiate Create Listing Command And Update Entities
  backend/Application/Features/Listings/Commands/InitiateCreateListing/InitiateCreateListingCommand.cs
  backend/Domain/Entities/Amenity.cs
  backend/Domain/Entities/Apartment.cs
  backend/Domain/Entities/CommercialProperty.cs
  backend/Domain/Entities/ContactInformation.cs
  backend/Domain/Entities/EventSpace.cs
  backend/Domain/Entities/GuestHouse.cs
  backend/Domain/Entities/Hotel.cs
  backend/Domain/Entities/House.cs
  backend/Domain/Entities/OfficeSpace.cs
  backend/Domain/Entities/PaymentInformation.cs
  backend/Domain/Entities/Property.cs
  backend/Domain/Entities/ResidentialProperty.cs
  backend/Domain/Entities/Shop.cs
  backend/Domain/Entities/StudentHostel.cs
  backend/Domain/Entities/Warehouse.cs
  backend/Domain/Enums/PropertyMarketStatus.cs
  backend/Persistence/Configurations/PropertyDbContext.cs
Labels: @team/backend

#105 Ggpp 191 create db context for property listings
  backend/WebApi/Program.cs
Labels: @team/backend

#104 GGPP-196-Update-FAQ-Responses
  web/app/page.tsx
  web/components/General/Accordion.tsx
  web/components/General/FAQ.tsx
  web/test/unit/FAQ.test.tsx
Labels: @team/web

#106 Recover branch
  mobile/assets/svg/chat.svg
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/lib/gen/assets.gen.dart
  mobile/lib/gen/fonts.gen.dart
  mobile/lib/main.dart
  mobile/lib/src/core/constants/constants.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/error/exception.dart
  mobile/lib/src/core/error/failure.dart
  mobile/lib/src/core/theme/common_color.dart
  mobile/lib/src/core/theme/text_theme.dart
  mobile/lib/src/core/theme/theme_config.dart
  mobile/lib/src/core/utils/validator.dart
  mobile/lib/src/core/widgets/homepage_card.dart
  mobile/lib/src/features/auth/data/data_sources/auth_remote_data_source.dart
  mobile/lib/src/features/auth/data/repositories/auth_repository_impl.dart
  mobile/lib/src/features/auth/domain/repositories/auth_repository.dart
  mobile/lib/src/features/auth/domain/use_cases/register_with_email_password_use_case.dart
  mobile/lib/src/features/auth/presentation/bloc/authentication_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/authentication_event.dart
  mobile/lib/src/features/auth/presentation/bloc/authentication_state.dart
  mobile/lib/src/features/auth/presentation/otp.dart
  mobile/lib/src/features/auth/presentation/pages/password_reset.dart
  mobile/lib/src/features/auth/presentation/pages/register_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/pages/search_listing.dart
  mobile/lib/src/features/dashboard/presentation/widgets/search_listing_card.dart
  mobile/lib/src/features/dashboard/presentation/widgets/search_listing_input.dart
  mobile/lib/src/features/onboarding/presentation/pages/onboarding_screen.dart
  mobile/lib/src/features/onboarding/presentation/pages/onboarding_screen1.dart
  mobile/lib/src/features/onboarding/presentation/pages/onboarding_screen2.dart
  mobile/lib/src/features/onboarding/presentation/pages/otp_page.dart
  mobile/mobile/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  mobile/mobile/android/local.properties
  mobile/mobile/ios/Flutter/Generated.xcconfig
  mobile/mobile/ios/Flutter/flutter_export_environment.sh
  mobile/mobile/ios/Runner/GeneratedPluginRegistrant.h
  mobile/mobile/ios/Runner/GeneratedPluginRegistrant.m
  mobile/mobile/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  mobile/mobile/macos/Flutter/ephemeral/flutter_export_environment.sh
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/src/features/auth/data/data_sources/auth_remote_data_source_test.dart
  mobile/test/src/features/auth/data/repositories/auth_repository_impl_test.dart
  mobile/test/src/features/auth/domain/use_cases/register_with_email_password_use_case_test.dart
  mobile/test/src/features/auth/presentation/bloc/authentication_bloc_test.dart
Labels: @team/mobile

#100 Ggpp 165 implement forgot password functionality
  web/components/Authentication/LoginCard.tsx
  web/components/Authentication/ResetInputEmail.tsx
  web/components/common/Auth/AuthButtons.tsx
  web/test/unit/ResetInputEmail.test.tsx
Labels: @team/web

#111 GGPP-191-Create-DbContext-for-property-listings
  backend/WebApi/Controllers/AuthController.cs
Labels: @team/backend

#116 feat(backend): implement get all, search, filter and sort on amenity …
  backend/Application/Contracts/IAmenityRepository.cs
  backend/Application/Features/Listings/Queries/GetAmenity/GetAmenityQuery.cs
  backend/Application/Features/Listings/Queries/GetAmenity/GetAmenityQueryHandler.cs
  backend/Persistence/Repositories/AmenityRepository.cs
  backend/Persistence/Repositories/ListingRepository.cs
  backend/WebApi/Controllers/AmenityController.cs
  backend/WebApi/Program.cs
  backend/WebApi/WebApi.csproj
Labels: @team/backend

#118 Ggpp 174 design and implement the listings filters page
  .vscode/settings.json
  mobile/lib/main.dart
  mobile/lib/src/core/constants/constants.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/error/exception.dart
  mobile/lib/src/core/error/failure.dart
  mobile/lib/src/core/network/network_info.dart
  mobile/lib/src/core/utils/validator.dart
  mobile/lib/src/features/auth/data/data_sources/auth_remote_data_source.dart
  mobile/lib/src/features/auth/data/repositories/auth_repository_impl.dart
  mobile/lib/src/features/auth/domain/repositories/auth_repository.dart
  mobile/lib/src/features/auth/domain/use_cases/register_with_email_password_use_case.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_event.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_state.dart
  mobile/lib/src/features/auth/presentation/pages/register_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/listings_filters.dart
  mobile/lib/src/features/dashboard/presentation/pages/widgets/dropdown_component.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/src/features/auth/data/data_sources/auth_remote_data_source_test.dart
  mobile/test/src/features/auth/data/repositories/auth_repository_impl_test.dart
  mobile/test/src/features/auth/domain/use_cases/register_with_email_password_use_case_test.dart
  mobile/test/src/features/auth/presentation/bloc/bloc/authentication_bloc_test.dart
Labels: @team/mobile

#119 fix(web): Updated single listing card
  web/app/globals.css
  web/app/listing/page.tsx
  web/components/Carousel/Carousel.tsx
  web/components/Carousel/css/embla.css
  web/components/Carousel/css/sandbox.css
  web/components/ImageCarousel/EmblaCarousel.tsx
  web/components/ImageCarousel/EmblaCarouselArrowDotsButtons.tsx
  web/components/ImageCarousel/EmblaCarouselArrowsDotsButtons.tsx
  web/components/Listing/Cards/ListingCard.tsx
  web/package-lock.json
  web/package.json
  web/public/bed_icon.svg
  web/public/construction_icon.svg
  web/public/listing2.jpeg
  web/public/listing3.jpeg
  web/public/shower_icon.svg
  web/test/unit/ListingCard.test.tsx
Labels: @team/web

#120 Delete web/components/common directory
  web/components/common/Auth/AuthButtons.tsx
Labels: @team/web

#117 Ggpp 192 implement create listing functionality
  backend/Application/Contracts/IAmenityRepository.cs
  backend/Application/Features/Listings/Commands/CreateApartmentListing/CreateApartmentListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateApartmentListing/CreateApartmentListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateEventSpaceListing/CreateEventSpaceListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateEventSpaceListing/CreateEventSpaceListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateGuestHouseListing/CreateGuestHouseListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateGuestHouseListing/CreateGuestHouseListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateHotelListing/CreateHotelListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateHotelListing/CreateHotelListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateHouseListing/CreateHouseListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateHouseListing/CreateHouseListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateOfficeSpaceListing/CreateOfficeSpaceListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateOfficeSpaceListing/CreateOfficeSpaceListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateShopListing/CreateShopListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateShopListing/CreateShopListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateStudentHostelListing/CreateStudentHostelListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateStudentHostelListing/CreateStudentHostelListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateWarehouseListing/CreateWareHouseListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateWarehouseListing/CreateWarehouseListingCommand.cs
  backend/Domain/Entities/Property.cs
  backend/Persistence/Repositories/AmenityRepository.cs
Labels: @team/backend

#121 211
  web/components/Authentication/LoginCard.tsx
  web/components/Common/Auth/AuthButton.tsx
Labels: @team/web

#126 Ggpp 192 implement create listing functionality
  backend/Application/Features/Listings/Commands/CreateApartmentListing/CreateApartmentListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateEventSpaceListing/CreateEventSpaceListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateGuestHouseListing/CreateGuestHouseListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateHotelListing/CreateHotelListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateHouseListing/CreateHouseListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateOfficeSpaceListing/CreateOfficeSpaceListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateShopListing/CreateShopListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateStudentHostelListing/CreateStudentHostelListingCommandHandler.cs
Labels: @team/backend

#128 Ggpp 192 implement create listing functionality
  backend/Application/Features/Listings/Commands/Common/InitiateCreateListing/InitiateCreateListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateApartmentListing/CreateApartmentListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateApartmentListing/CreateApartmentListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateEventSpaceListing/CreateEventSpaceListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateEventSpaceListing/CreateEventSpaceListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateGuestHouseListing/CreateGuestHouseListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateGuestHouseListing/CreateGuestHouseListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateHotelListing/CreateHotelListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateHotelListing/CreateHotelListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateHouseListing/CreateHouseListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateHouseListing/CreateHouseListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateOfficeSpaceListing/CreateOfficeSpaceListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateOfficeSpaceListing/CreateOfficeSpaceListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateShopListing/CreateShopListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateShopListing/CreateShopListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateStudentHostelListing/CreateStudentHostelListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateStudentHostelListing/CreateStudentHostelListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateWarehouseListing/CreateWarehouseListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateWarehouseListing/CreateWarehouseListingCommandHandler.cs
  backend/Domain/Entities/Apartment.cs
  backend/Domain/Entities/CommercialProperty.cs
  backend/Domain/Entities/EventSpace.cs
  backend/Domain/Entities/GuestHouse.cs
  backend/Domain/Entities/Hotel.cs
  backend/Domain/Entities/House.cs
  backend/Domain/Entities/OfficeSpace.cs
  backend/Domain/Entities/Property.cs
  backend/Domain/Entities/ResidentialProperty.cs
  backend/Domain/Entities/Shop.cs
  backend/Domain/Entities/StudentHostel.cs
  backend/Domain/Entities/Warehouse.cs
Labels: @team/backend

#133 feat(mobile): [test] checking if there's a change
  mobile/lib/main.dart
Labels: @team/mobile

#132 Ggpp 198 design home page
  web/app/foot/page.tsx
  web/app/head/page.tsx
  web/app/hero/page.tsx
  web/app/layout.tsx
  web/app/listing/page.tsx
  web/app/page.tsx
  web/components/Carousel/css/embla.css
  web/components/General/CreateListing.tsx
  web/components/General/FAQ.tsx
  web/components/General/Footer.tsx
  web/components/General/Hamburger.tsx
  web/components/General/HeroSection.tsx
  web/components/General/HomePage.tsx
  web/components/General/Navbar.tsx
  web/components/General/ProcedureSection.tsx
  web/components/General/Profile.tsx
  web/components/General/Select.tsx
  web/components/Listing/Cards/ListingCard.tsx
  web/components/common/Auth/AuthButtons.tsx
  web/package-lock.json
  web/package.json
  web/public/Symbol.png
  web/public/headerLogo.svg
  web/public/heroNew.png
  web/public/profilePic.svg
  web/public/pyramid.png
  web/public/pyramid1.png
  web/test/unit/ProcedureSection.test.tsx
Labels: @team/web

#134 Update resetUrl in FogotPasswordHandler
  backend/Application/Features/Accounts/ForgotPassword/Command/ForgotPasswordCheck.cs
  backend/Application/Features/Accounts/ForgotPassword/Command/ForgotPasswordHandler.cs
Labels: @team/backend

#136 remove token field from ResetPassword
  backend/Application/Features/Accounts/Dtos/ResetPasswordDto.cs
  backend/Application/Features/Accounts/ResetPassword/ResetPasswordCommand.cs
  backend/Application/Features/Accounts/ResetPassword/ResetPasswordHandler.cs
  backend/WebApi/Controllers/AuthController.cs
Labels: @team/backend

#137 Ggpp 198 design home page
  web/components/General/CreateListing.tsx
  web/components/General/Select.tsx
  web/components/Listing/Cards/ListingCard.tsx
Labels: @team/web

#127 Ggpp 134 implement the login functionality
  mobile/lib/main.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/entities/user_account.dart
  mobile/lib/src/core/entities/user_cache.dart
  mobile/lib/src/core/error/failure.dart
  mobile/lib/src/core/widgets/custom_button.dart
  mobile/lib/src/features/auth/data/data_sources/auth_remote_data_source.dart
  mobile/lib/src/features/auth/data/models/UserModel.dart
  mobile/lib/src/features/auth/data/repositories/auth_repository_impl.dart
  mobile/lib/src/features/auth/domain/use_cases/login_use_case.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_event.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_state.dart
  mobile/lib/src/features/auth/presentation/bloc/login/login_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/login/login_event.dart
  mobile/lib/src/features/auth/presentation/bloc/login/login_state.dart
  mobile/lib/src/features/auth/presentation/pages/register_page.dart
  mobile/lib/src/features/auth/presentation/pages/sign_in_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/pubspec.lock
Labels: @team/mobile

#141 feat(web): Designed the hero section of the detailed listing informat…
  web/app/globals.css
  web/app/heroListing/page.tsx
  web/components/DetailCarousel/DetailCarousel.tsx
  web/components/DetailCarousel/css/embla.css
  web/components/DetailCarousel/css/sandbox.css
  web/components/HeroListing/HeroListing.tsx
  web/components/ImageCarousel2/EmblaCarousel.tsx
  web/components/ImageCarousel2/EmblaCarouselArrowDotsButtons.tsx
  web/components/ImageCarousel2/EmblaCarouselArrowsDotsButtons.tsx
  web/components/ImageCarousel2/EmblaCarouselThumbsButton.tsx
  web/package-lock.json
  web/package.json
  web/public/angle.svg
  web/public/bedIcon2.svg
  web/public/bookmarkIcon.svg
  web/public/calendarIcon.svg
  web/public/carIcon.svg
  web/public/houseIcon.svg
  web/public/listImg.jpeg
  web/public/locationIcon.svg
  web/public/printIcon.svg
  web/public/proIcon.svg
  web/public/rulerIcon.svg
  web/public/shareIcon.svg
  web/public/showerIcon2.svg
  web/public/whatsappIcon.svg
  web/tailwind.config.ts
  web/test/unit/HeroListing.test.tsx
Labels: @team/web

#145 Ggpp 192 implement create listing functionality
  backend/Application/Features/Accounts/RegisterUser/RegisterUserCommandHandler.cs
  backend/Application/Features/Accounts/ResendOTP/ResendOTPCommandHandler.cs
Labels: @team/backend

#144 Ggpp 197 design add listing screen
  web/app/add-listing/page.tsx
  web/app/api/places/autocomplete.ts
  web/app/api/places/details.ts
  web/components/AddListing/Features/CommercialSubtype/CommercialSpecific.tsx
  web/components/AddListing/Features/CommercialSubtype/EventSpaceFeatures.tsx
  web/components/AddListing/Features/CommercialSubtype/OfficeSpaceFeatures.tsx
  web/components/AddListing/Features/CommercialSubtype/ShopFeatures.tsx
  web/components/AddListing/Features/CommercialSubtype/WareHouseFeatures.tsx
  web/components/AddListing/Features/FeatureMapping.ts
  web/components/AddListing/Features/ResidentialSubtype/ApartmentFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/GuestHouseFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/HotelFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/HouseFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/ResidentialSpecific.tsx
  web/components/AddListing/Features/ResidentialSubtype/StudentHostelFeatures.tsx
  web/components/AddListing/GeneralInfo.tsx
  web/components/AddListing/GoogleMapComponent.tsx
  web/components/AddListing/Header.tsx
  web/components/AddListing/ImageSelector.tsx
  web/components/AddListing/LocationForm.tsx
  web/components/AddListing/LocationFormUpdate.tsx
  web/components/AddListing/SubmitButton.tsx
  web/package-lock.json
  web/package.json
  web/public/add_listing_screen/addImage.svg
  web/public/add_listing_screen/header.svg
  web/test/unit/AddListing.test.tsx
Labels: @team/web

#140 otp functionality Implementation
  mobile/lib/main.dart
  mobile/lib/src/core/constants/constants.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/error/exception.dart
  mobile/lib/src/core/error/failure.dart
  mobile/lib/src/core/success/success.dart
  mobile/lib/src/core/utils/validator.dart
  mobile/lib/src/core/widgets/homepage_card.dart
  mobile/lib/src/features/auth/data/data_sources/auth_remote_data_source.dart
  mobile/lib/src/features/auth/data/data_sources/data_source.dart
  mobile/lib/src/features/auth/data/models/login_model.dart
  mobile/lib/src/features/auth/data/models/models.dart
  mobile/lib/src/features/auth/data/repositories/AuthRepositoryImpl.dart
  mobile/lib/src/features/auth/data/repositories/auth_repository_impl.dart
  mobile/lib/src/features/auth/data/repositories/repositories.dart
  mobile/lib/src/features/auth/domain/entities/login.dart
  mobile/lib/src/features/auth/domain/repositories/AuthRepository.dart
  mobile/lib/src/features/auth/domain/repositories/auth_repository.dart
  mobile/lib/src/features/auth/domain/use_cases/otp.dart
  mobile/lib/src/features/auth/domain/use_cases/resend_otp.dart
  mobile/lib/src/features/auth/domain/use_cases/use_cases.dart
  mobile/lib/src/features/auth/domain/use_cases/verify_otp.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/bloc/authentication_state.dart
  mobile/lib/src/features/auth/presentation/bloc/login/login_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/login/login_state.dart
  mobile/lib/src/features/auth/presentation/bloc/otp/otp_bloc.dart
  mobile/lib/src/features/auth/presentation/bloc/otp/otp_event.dart
  mobile/lib/src/features/auth/presentation/bloc/otp/otp_state.dart
  mobile/lib/src/features/auth/presentation/otp.dart
  mobile/lib/src/features/auth/presentation/pages/otp_page.dart
  mobile/lib/src/features/auth/presentation/pages/register_page.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/pages/listings_filters.dart
  mobile/lib/src/features/dashboard/presentation/pages/search_listing.dart
  mobile/lib/src/features/onboarding/presentation/pages/onboarding_screen1.dart
  mobile/lib/src/features/onboarding/presentation/pages/onboarding_screen2.dart
  mobile/lib/src/features/onboarding/presentation/pages/onboarding_screen3.dart
  mobile/pubspec.lock
Labels: @team/mobile

#147 Ggpp 201 implement image and video upload functionality
  backend/Application/Contracts/IStorageService.cs
  backend/Infrastructure/Infrastructure.csproj
  backend/Infrastructure/StorageService/StorageService.cs
  backend/WebApi/Controllers/FileController.cs
  backend/WebApi/Filters/FileUploadOperationFilter.cs
  backend/WebApi/Program.cs
  backend/WebApi/WebApi.csproj
Labels: @team/backend

#148 Ggpp 201 implement image and video upload functionality
  backend/Dockerfile.prod
  backend/Infrastructure/StorageService/StorageService.cs
Labels: @team/backend

#149 respecify path to google credentials
  .gitignore
  backend/Application/Contracts/IListingRepository.cs
  backend/Application/Features/Listings/Queries/GetAllListings/GetAllListingsQuery.cs
  backend/Application/Features/Listings/Queries/GetAllListings/GetAllListingsQueryHandler.cs
  backend/Application/Features/Listings/Queries/GetListings/GetListingsQuery.cs
  backend/Application/Features/Listings/Queries/GetListings/GetListingsQueryHandler.cs
  backend/Dockerfile.prod
  backend/Domain/Models/PaginatedList.cs
  backend/Persistence/Migrations/20240704175711_first migration.Designer.cs
  backend/Persistence/Migrations/20240704175711_first migration.cs
  backend/Persistence/Migrations/20240722205943_property migrations.Designer.cs
  backend/Persistence/Migrations/20240722205943_property migrations.cs
  backend/Persistence/Migrations/AppAuthDbContextModelSnapshot.cs
  backend/Persistence/Migrations/PropertyDbContextModelSnapshot.cs
  backend/Persistence/Models/Amenity.cs
  backend/Persistence/Models/Apartment.cs
  backend/Persistence/Models/AspNetRole.cs
  backend/Persistence/Models/AspNetRoleClaim.cs
  backend/Persistence/Models/AspNetUser.cs
  backend/Persistence/Models/AspNetUserClaim.cs
  backend/Persistence/Models/AspNetUserLogin.cs
  backend/Persistence/Models/AspNetUserToken.cs
  backend/Persistence/Models/CommercialProperty.cs
  backend/Persistence/Models/EventSpace.cs
  backend/Persistence/Models/GuestHouse.cs
  backend/Persistence/Models/Hotel.cs
  backend/Persistence/Models/House.cs
  backend/Persistence/Models/OfficeSpace.cs
  backend/Persistence/Models/Otp.cs
  backend/Persistence/Models/PaymentInformation.cs
  backend/Persistence/Models/Property.cs
  backend/Persistence/Models/PropertyAmenity.cs
  backend/Persistence/Models/PropertyLocation.cs
  backend/Persistence/Models/PropertyPhoto.cs
  backend/Persistence/Models/PropertyVideo.cs
  backend/Persistence/Models/ResidentialProperty.cs
  backend/Persistence/Models/Shop.cs
  backend/Persistence/Models/StudentHostel.cs
  backend/Persistence/Models/TerraDbContext.cs
  backend/Persistence/Models/User.cs
  backend/Persistence/Models/Warehouse.cs
  backend/Persistence/Persistence.csproj
  backend/Persistence/Repositories/ListingRepository.cs
  backend/WebApi/Controllers/ListingsController.cs
  backend/WebApi/Program.cs
Labels: @team/backend

#150 Revert "respecify path to google credentials"
  .gitignore
  backend/Application/Contracts/IListingRepository.cs
  backend/Application/Features/Listings/Queries/GetAllListings/GetAllListingsQuery.cs
  backend/Application/Features/Listings/Queries/GetAllListings/GetAllListingsQueryHandler.cs
  backend/Application/Features/Listings/Queries/GetListings/GetListingsQuery.cs
  backend/Application/Features/Listings/Queries/GetListings/GetListingsQueryHandler.cs
  backend/Dockerfile.prod
  backend/Domain/Models/PaginatedList.cs
  backend/Persistence/Migrations/20240704175711_first migration.Designer.cs
  backend/Persistence/Migrations/20240704175711_first migration.cs
  backend/Persistence/Migrations/20240722205943_property migrations.Designer.cs
  backend/Persistence/Migrations/20240722205943_property migrations.cs
  backend/Persistence/Migrations/AppAuthDbContextModelSnapshot.cs
  backend/Persistence/Migrations/PropertyDbContextModelSnapshot.cs
  backend/Persistence/Models/Amenity.cs
  backend/Persistence/Models/Apartment.cs
  backend/Persistence/Models/AspNetRole.cs
  backend/Persistence/Models/AspNetRoleClaim.cs
  backend/Persistence/Models/AspNetUser.cs
  backend/Persistence/Models/AspNetUserClaim.cs
  backend/Persistence/Models/AspNetUserLogin.cs
  backend/Persistence/Models/AspNetUserToken.cs
  backend/Persistence/Models/CommercialProperty.cs
  backend/Persistence/Models/EventSpace.cs
  backend/Persistence/Models/GuestHouse.cs
  backend/Persistence/Models/Hotel.cs
  backend/Persistence/Models/House.cs
  backend/Persistence/Models/OfficeSpace.cs
  backend/Persistence/Models/Otp.cs
  backend/Persistence/Models/PaymentInformation.cs
  backend/Persistence/Models/Property.cs
  backend/Persistence/Models/PropertyAmenity.cs
  backend/Persistence/Models/PropertyLocation.cs
  backend/Persistence/Models/PropertyPhoto.cs
  backend/Persistence/Models/PropertyVideo.cs
  backend/Persistence/Models/ResidentialProperty.cs
  backend/Persistence/Models/Shop.cs
  backend/Persistence/Models/StudentHostel.cs
  backend/Persistence/Models/TerraDbContext.cs
  backend/Persistence/Models/User.cs
  backend/Persistence/Models/Warehouse.cs
  backend/Persistence/Persistence.csproj
  backend/Persistence/Repositories/ListingRepository.cs
  backend/WebApi/Controllers/ListingsController.cs
  backend/WebApi/Program.cs
Labels: @team/backend

#151 Ggpp 216 review of detailed listing
  web/app/head/page.tsx
  web/components/Listing/Review.tsx
  web/components/Review/ReviewCard.tsx
  web/components/Review/ReviewForm.tsx
  web/components/Review/ReviewStars.tsx
  web/package-lock.json
  web/public/reviewer-avatar.svg
  web/tailwind.config.ts
  web/test/unit/Review.test.tsx
Labels: @team/web

#154 Ggpp 193 implement get all listing functionality
  backend/Application/Contracts/IListingRepository.cs
  backend/Application/Features/Listings/Queries/Filtering/FilterQuery.cs
  backend/Application/Features/Listings/Queries/Filtering/FilterQueryHandler.cs
  backend/Application/Features/Listings/Queries/GetAllListings/GetAllListingsQuery.cs
  backend/Application/Features/Listings/Queries/GetAllListings/GetAllListingsQueryHandler.cs
  backend/Domain/Models/PaginatedList.cs
  backend/Persistence/Repositories/ListingRepository.cs
  backend/WebApi/Controllers/ListingController.cs
  backend/WebApi/Program.cs
Labels: @team/backend

#153 mobile(feat)designed page for add_listing_loc
  mobile/assets/images/listingIcons/Streets.png
  mobile/assets/images/listingIcons/city.png
  mobile/assets/images/listingIcons/country.png
  mobile/assets/images/listingIcons/house.png
  mobile/assets/images/listingIcons/pin.png
  mobile/assets/images/listingIcons/zip.png
  mobile/lib/main.dart
  mobile/lib/src/core/theme/common_color.dart
  mobile/lib/src/core/theme/text_theme.dart
  mobile/lib/src/core/utils/custom_textformfield.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_location.dart
  mobile/pubspec.yaml
Labels: @team/mobile

#157 fix(backend): change google credential file path
  backend/Infrastructure/StorageService/StorageService.cs
Labels: @team/backend

#158 push initial migrations
  backend/Persistence/Migrations/20240704175711_first migration.Designer.cs
  backend/Persistence/Migrations/20240704175711_first migration.cs
  backend/Persistence/Migrations/AppAuthDbContextModelSnapshot.cs
Labels: @team/backend

#159 mobile(feat) design add listing media page
  mobile/lib/main.dart
  mobile/lib/src/core/theme/common_color.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_photos.dart
Labels: @team/mobile

#160 (feat): Add media upload to create listing
  backend/Application/Features/Listings/Commands/Common/InitiateCreateListing/InitiateCreateListingCommand.cs
  backend/Application/Features/Listings/Commands/Common/InitiateCreateListing/InitiateCreateListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateApartmentListing/CreateApartmentListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateApartmentListing/CreateApartmentListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateEventSpaceListing/CreateEventSpaceListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateEventSpaceListing/CreateEventSpaceListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateGuestHouseListing/CreateGuestHouseListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateGuestHouseListing/CreateGuestHouseListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateHotelListing/CreateHotelListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateHotelListing/CreateHotelListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateHouseListing/CreateHouseListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateHouseListing/CreateHouseListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateOfficeSpaceListing/CreateOfficeSpaceListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateOfficeSpaceListing/CreateOfficeSpaceListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateShopListing/CreateShopListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateShopListing/CreateShopListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateStudentHostelListing/CreateStudentHostelListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateStudentHostelListing/CreateStudentHostelListingCommandHandler.cs
  backend/Application/Features/Listings/Commands/CreateWarehouseListing/CreateWarehouseListingCommand.cs
  backend/Application/Features/Listings/Commands/CreateWarehouseListing/CreateWarehouseListingCommandHandler.cs
  backend/Domain/Entities/PropertyPhoto.cs
  backend/Domain/Entities/PropertyVideo.cs
Labels: @team/backend

#156 feat(web): Design Info Section of the Detailed Listing Page
  web/app/api/auth/[...nextauth]/route.ts
  web/app/head/page.tsx
  web/components/General/Navbar.tsx
  web/components/Listing/ListDesc.tsx
  web/package-lock.json
  web/test/ListDesc.test.tsx
  web/test/unit/AdvancedListingSettings.test.tsx
Labels: @team/web

#161 WIP: 7330f3c Ggpp 211 compile all components (#152)
  mobile/assets/images/image6.png
  mobile/assets/svg/message-text.svg
  mobile/assets/svg/tag.svg
  mobile/lib/src/core/theme/common_color.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/widgets/homepage_card.dart
  mobile/lib/src/features/dashboard/presentation/widgets/search_listing_input.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: @team/mobile

#163 fix(backend): change google credential path
  backend/Infrastructure/StorageService/StorageService.cs
Labels: @team/backend

#164 Ggpp 201 implement image and video upload functionality
  backend/Infrastructure/StorageService/StorageService.cs
Labels: @team/backend

#166 Ggpp 201 implement image and video upload functionality
  backend/Infrastructure/StorageService/StorageService.cs
Labels: @team/backend

#167 Ggpp 201 implement image and video upload functionality
  backend/Application/Contracts/IStorageService.cs
  backend/Infrastructure/StorageService/StorageService.cs
  backend/WebApi/Controllers/FileController.cs
  backend/WebApi/Program.cs
Labels: @team/backend

#168 mobile(feat) added listing contact page
  mobile/assets/images/listingIcons/facebook.png
  mobile/assets/images/listingIcons/insta.png
  mobile/assets/images/listingIcons/phone.png
  mobile/assets/images/listingIcons/snapchat.png
  mobile/assets/images/listingIcons/twitter.png
  mobile/assets/images/listingIcons/website.png
  mobile/assets/images/listingIcons/whatsapp.png
  mobile/lib/main.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_contact_info.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_location.dart
Labels: @team/mobile

#169 feat(mobile): Create the listings filter page
  mobile/lib/main.dart
  mobile/lib/src/core/constants/property_amenities.dart
  mobile/lib/src/core/widgets/property_feature_counter.dart
  mobile/lib/src/features/dashboard/presentation/pages/listings_filters.dart
  mobile/lib/src/features/dashboard/presentation/pages/widgets/dropdown_component.dart
  mobile/lib/src/features/dashboard/presentation/widgets/filter_button.dart
Labels: @team/mobile

#165 Ggpp 193 implement get all listing functionality
  backend/Application/Contracts/IListingRepository.cs
  backend/Application/Features/Listings/Queries/Filtering/FilterQuery.cs
  backend/Application/Features/Listings/Queries/GetAllListings/GetAllListingsQuery.cs
  backend/Application/Features/Listings/Queries/GetAllListings/GetAllListingsQueryHandler.cs
  backend/Domain/Entities/Property.cs
  backend/Persistence/Repositories/ListingRepository.cs
  backend/WebApi/Controllers/AmenityController.cs
  backend/WebApi/Controllers/FileController.cs
  backend/WebApi/Controllers/ListingController.cs
  backend/WebApi/Controllers/UsersController.cs
Labels: @team/backend

#170 Design Single Listing Page
  web/app/heroListing/page.tsx
  web/app/single/page.tsx
  web/components/Listing/HeroListing.tsx
  web/components/Listing/ListDesc.tsx
  web/components/Listing/Review.tsx
  web/components/Review/ReviewForm.tsx
  web/tailwind.config.ts
  web/test/unit/HeroListing.test.tsx
  web/test/unit/Review.test.tsx
Labels: @team/web

#172 Ggpp 193 implement get all listing functionality
  backend/WebApi/Controllers/AmenityController.cs
  backend/WebApi/Controllers/FileController.cs
  backend/WebApi/Controllers/ListingController.cs
  backend/WebApi/Controllers/UsersController.cs
Labels: @team/backend

#174 (feat): Implemented Get all listing functionality
  web/components/General/HomePage.tsx
  web/components/Listing/Cards/ListingCard.tsx
  web/redux/getAllListingApi.ts
  web/redux/store.ts
  web/test/unit/ListingCard.test.tsx
  web/types/listingTypes.ts
  web/utils/Fetch_Token.ts
Labels: @team/web

#175 (fix): Include payment information and property location in get all l…
  backend/Persistence/Repositories/ListingRepository.cs
Labels: @team/backend

#173 feat(mobile): add the error pages
  mobile/assets/images/illustration.png
  mobile/assets/images/network_error.png
  mobile/assets/images/server_error.png
  mobile/lib/main.dart
  mobile/lib/src/core/error/error_pages/404_page.dart
  mobile/lib/src/core/error/error_pages/no_network_page.dart
  mobile/lib/src/core/error/error_pages/server_error_page.dart
Labels: @team/mobile

#180 Ggpp 225 implement add listing functionality
  web/app/add-listing/page.tsx
  web/components/AddListing/Features/CommercialSubtype/CommercialSpecific.tsx
  web/components/AddListing/Features/CommercialSubtype/EventSpaceFeatures.tsx
  web/components/AddListing/Features/CommercialSubtype/OfficeSpaceFeatures.tsx
  web/components/AddListing/Features/CommercialSubtype/ShopFeatures.tsx
  web/components/AddListing/Features/CommercialSubtype/WareHouseFeatures.tsx
  web/components/AddListing/Features/FeatureMapping.ts
  web/components/AddListing/Features/ResidentialSubtype/ApartmentFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/GuestHouseFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/HotelFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/HouseFeatures.tsx
  web/components/AddListing/Features/ResidentialSubtype/ResidentialSpecific.tsx
  web/components/AddListing/Features/ResidentialSubtype/StudentHostelFeatures.tsx
  web/components/AddListing/GeneralInfo.tsx
  web/components/AddListing/GoogleMapComponent.tsx
  web/components/AddListing/Header.tsx
  web/components/AddListing/ImageSelector.tsx
  web/components/AddListing/LocationForm.tsx
  web/components/AddListing/SubmitButton.tsx
  web/package-lock.json
  web/test/unit/AddListing.test.tsx
Labels: @team/web

#178 Ggpp 228 implement the functionality of fetching and displaying listings and their details page
  mobile/lib/main.dart
  mobile/lib/src/core/constants/constants.dart
  mobile/lib/src/core/dp_injection/dependency_injection.dart
  mobile/lib/src/core/routes/app_routes.dart
  mobile/lib/src/core/routes/go_routes.dart
  mobile/lib/src/core/routes/routes.dart
  mobile/lib/src/core/routes/routes_config.dart
  mobile/lib/src/features/auth/data/data_sources/auth_remote_data_source.dart
  mobile/lib/src/features/auth/presentation/pages/register_page.dart
  mobile/lib/src/features/auth/presentation/pages/sign_in_page.dart
  mobile/lib/src/features/dashboard/data/data.dart
  mobile/lib/src/features/dashboard/data/data_sources/dashboard_remote_data_source.dart
  mobile/lib/src/features/dashboard/data/data_sources/data_sources.dart
  mobile/lib/src/features/dashboard/data/models/enums.dart
  mobile/lib/src/features/dashboard/data/models/get_all_listing_return.dart
  mobile/lib/src/features/dashboard/data/models/get_all_listings.dart
  mobile/lib/src/features/dashboard/data/models/lister.dart
  mobile/lib/src/features/dashboard/data/models/listing.dart
  mobile/lib/src/features/dashboard/data/models/models.dart
  mobile/lib/src/features/dashboard/data/models/payment_information.dart
  mobile/lib/src/features/dashboard/data/models/property_location.dart
  mobile/lib/src/features/dashboard/data/repositories/dashboard_repository_impl.dart
  mobile/lib/src/features/dashboard/data/repositories/repositories.dart
  mobile/lib/src/features/dashboard/domain/domain.dart
  mobile/lib/src/features/dashboard/domain/entities/entities.dart
  mobile/lib/src/features/dashboard/domain/entities/get_all_listing_return.dart
  mobile/lib/src/features/dashboard/domain/entities/lister.dart
  mobile/lib/src/features/dashboard/domain/entities/listing.dart
  mobile/lib/src/features/dashboard/domain/entities/payment_information.dart
  mobile/lib/src/features/dashboard/domain/entities/property_location.dart
  mobile/lib/src/features/dashboard/domain/repositories/dashboard_repository.dart
  mobile/lib/src/features/dashboard/domain/repositories/repository.dart
  mobile/lib/src/features/dashboard/domain/use_cases/get_listings_use_case.dart
  mobile/lib/src/features/dashboard/domain/use_cases/use_cases.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_bloc.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_event.dart
  mobile/lib/src/features/dashboard/presentation/bloc/dashboard_state.dart
  mobile/lib/src/features/dashboard/presentation/pages/add_listing_photos.dart
  mobile/lib/src/features/dashboard/presentation/pages/dashboard.dart
  mobile/lib/src/features/dashboard/presentation/pages/homepage.dart
  mobile/lib/src/features/dashboard/presentation/widgets/listings_card.dart
  mobile/lib/src/features/onboarding/presentation/pages/onboarding_screen1.dart
  mobile/lib/src/features/onboarding/presentation/pages/onboarding_screen2.dart
  mobile/lib/src/features/onboarding/presentation/pages/onboarding_screen3.dart
Labels: @team/mobile

#182 Ggpp 236 design filters
  web/app/advanced-listing/page.tsx
  web/components/Archive/ContactInDetail.tsx
  web/components/General/Filters.tsx
  web/components/General/Hamburger.tsx
  web/components/Listing/HeroListing.tsx
  web/package-lock.json
Labels: @team/web

#184 (fix)web Re-Implement Listing Card
  web/components/Common/Auth/AuthButton.tsx
  web/components/Common/Reusable/Spinner.tsx
  web/components/General/HomePage.tsx
  web/components/Listing/Cards/ListingCard.tsx
  web/components/common/Auth/AuthButtons.tsx
  web/test/unit/ListingCard.test.tsx
  web/types/listingTypes.ts
Labels: @team/web

#185 feat(web): final touches
  web/components/AddListing/GeneralInfo.tsx
  web/components/General/Hamburger.tsx
  web/components/General/HomePage.tsx
  web/components/General/Navbar.tsx
  web/components/General/Select.tsx
  web/middleware.ts
  web/redux/getAllListingApi.ts
Labels: @team/web

#187 Tibebu.deployment
  web/utils/Fetch_Token.ts
Labels: @team/web
