Repository A2SV/Terra, pull requests merged in 2025-02, with the labels that each got.

#270 Webcontributorsbranch
  README.md
  web/README.md
Labels: repo, @team/web

#272 Update README.md
  README.md
Labels: repo

#273 Update README.md
  README.md
Labels: repo

#271 Serkhani
  README.md
Labels: repo

#275 Update README.md
  README.md
Labels: repo

#276 Raphael
  README.md
  web/app/reset-password/page.tsx
  web/components/Authentication/ResetInputEmail.tsx
  web/components/Authentication/ResetNew.tsx
  web/components/ContactUs/ContactUsDetails.tsx
  web/jest.config.ts
  web/package-lock.json
  web/package.json
  web/test/unit/ResetInputEmail.test.tsx
Labels: repo, @team/web

#278 Update README.md
  README.md
Labels: repo

#280 Update README.md
  README.md
  backend/README.md
Labels: repo, @team/backend
